body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 17px 19px;
  text-decoration: none;
  font-size: 19px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid rgb(15, 158, 27);
}

.topnav a.active {
  border-bottom: 3px solid rgb(50, 160, 28);
}
  

.header1{
    
    margin-left: 0px;
   margin-right: 0px;
}










  



* {
    box-sizing: border-box;
  }



  .column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
  }


.row:after {
  content: "";
  display: table;
  clear: both;
}











img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }






  

.footer
{
left: 0;
position: relative;
bottom: 0;
width: 100%;
height: 15px;
background-color: rgb(12, 26, 12);
color: black;
text-align: left;

}